h1, p {
    margin-left: 25%;
    text-align: left;
    float: center;
    width: 50%;    
    line-height: 1.5;
}

div {
    position: relative;
}
#fixed {
    position: fixed;
    margin-left: 10%;
    padding: 10px 80px 90px 80px;
    background-color: lightgrey;
    text-align: center;
}
#relative {
    margin-left: 25%;
    float: center;
    position: relative;
    padding: 20px 60px 150px 60px;
    width: 50%;
    text-align: center;
    background-color: darkgrey;
}
#absolute {
    position: absolute;
    padding: 50px;
    background-color: grey;
    right: -20px;
    bottom: 0;
}